@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.submenu {
    position: relative;
}

.submenu #cart{
    display: none;
}
.submenu:hover #cart{
    display: block;
    position: absolute;
    right:0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
